@{
    ViewData["Title"] = "Mars Rover Control";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mars Rover Control</h1>
    <p>Click <b>Rover Control</b> on the top left navigation bar to enter inputs for the Mars Rovers</p>
</div>
